  <div class="col-xs-4">
    <h1>Hours</h1>
    Tuesday through Sunday 5:30am - 2:30am
    Closed Sundays
  </div>
  <div class="col-xs-4">
    <h1 >Map & Directions</h1>
    <div class="thumbnail">
      <img src="./assets/map.png">
    </div>
  </div>
  <div class="col-xs-4">
    <h1>Phone</h1> (510) 263-9438
    <ul>
      <li>Careers</li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    </ul>
  </div>
