<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img  src="./assets/baygritsEggs.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/assetsbusArea" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/friedrolls.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/gLatte.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/gritsEggs.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/prowaffle.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/spammasubi.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/waffleChix.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img  src="./assets/latteArt.jpg" alt="Third slide">
    </div>
  </div>
</div>
