lunch
ENTREES

MARKET SALAD | 12
SEASONAL VEGGIES, MEYER LEMON
VINAIGRETTE, PARMESAN REGGIANO,
& PAIN DE MIE TOAST
add Seared Chicken breast 4

NEPTUNE'S BURGER | 13.50
UMAMI MAYO, BRIOCE BUN, LETTUCE,
PICKLED ONION, SWISS CHEESE, TOMATO
JAM, PICKLES & FRIES
add Bacon 3
add Form egg 2.50

CHEESY SHRIMP & GRITS | 14
ANSON MILLS WHITE GRITS, MILD
CHEDDER, PINK BAY SHRIMP, TOPPED
WITH BREKKIE SAUCE
add fried oysters 4

FRIED CHICKEN
WITH WAFFLES | 16
hot sauce glaze and side of salad


TSELOG STYLE | 16
with chicken fat fried rice, fried egg,
and house pickles

NOT ZIPPY'S CHILI AND RICE | 14
BAILEY FARMS PORK, SPAM, BLACK TURTLE
BEANS OVER RICE
add farm egg 2.50
