<div class="row">
  <div class="col-xs-6">
    <img src="./assets/prowaffle.jpg" alt="Waffles" class="img-responsive" style="max-height:500px">
  </div>
  <div class="col-xs-6">
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
  </div>
</div>





<div class="row">
  <div class="col-md-3">
    <h1 style="text-align:center">Drinks</h1>
  </div>
</div>
