<div class="row">
  <div class="col-xs-6">
    <img src="./assets/prowaffle.jpg" alt="Waffles" class="img-responsive" style="max-height:700px">
  </div>
  <div class="col-xs-6">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Drinks</a></li>
      <li role="presentation"><a href="#">Small Dishes</a></li>
      <li role="presentation"><a href="#">Brunch</a></li>
      <li role="presentation"><a href="#">Entrees</a></li>
      <li role="presentation"><a href="#">Sides</a></li>
    </ul>
  </div>
</div>
