<div class="row">
  <div class="col-md-6">
    <img src="./assets/prowaffle.jpg" alt="Waffles" class="img-responsive" style="max-height:700px">
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs nav-justified">
      <li class=""><a routerLink='small-dishes'>Small Dishes</a></li>
      <li role="presentation"><a routerLink='brunch'>Brunch</a></li>
      <li role="presentation"><a routerLink='entrees'>Entrees</a></li>
      <li role="presentation"><a routerLink='sides'>Sides</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
