html, body, h1, h2,
h3, p, ol, ul, li, a {!
padding: 0;!
border: 0;!
margin: 0;
font-family: "RockSalt";
}


@font-face {
  font-family: "RockSalt";
  src: url('https://fonts.googleapis.com/css?family=Rock+Salt');
}


.textcenter {
  text-align: center;
}

h1#title {
  text-align: center;
  height: 1.6em;
  font-family: "RockSalt", cursive;
}



/*
Future imports
font-family: "Gotham Thin";
font-family: "Gotham Light";
font-family: "Gotham Book";
font-family: "Gotham Bold";
font-family:"HelveticaNeueBold";
font-family: "HelveticaNeueLight";*/
