/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgba(248, 247, 242, 0.5);
}

@font-face {
  font-family: "RockSalt";
  src: url('https://fonts.googleapis.com/css?family=Rock+Salt');
}


.textcenter {
  text-align: center;
}

/*
Future imports
font-family: "Gotham Thin";
font-family: "Gotham Light";
font-family: "Gotham Book";
font-family: "Gotham Bold";
font-family:"HelveticaNeueBold";
font-family: "HelveticaNeueLight";*/
