<article class="carousel img-responsive">
  <div class="row">
    <div class="col-md-4 ends">
      <app-carousel [interval]="NextPhotoInterval">
        <app-slide *ngFor="let slidez of slides; let index = index;" [active]="slidez.active">
          <img [src]="slidez.image" style="height:500px">
        </app-slide>
      </app-carousel>
    </div>
    <div class="col-md-4">
      <app-carousel [interval]="NextPhotoInterval">
        <app-slide *ngFor="let slidez of slides; let index = index;" [active]="slidez.active">
          <img [src]="slidez.image" style="height:500px">
        </app-slide>
      </app-carousel>
    </div>
    <div class="col-md-4 ends">
      <app-carousel [interval]="NextPhotoInterval">
        <app-slide *ngFor="let slidez of slides; let index = index;" [active]="slidez.active">
          <img [src]="slidez.image" style="height:500px">
        </app-slide>
      </app-carousel>
    </div>
  </div>
</article>


<div class="nav-container" [class.fixed]="!navIsFixed">
  <div role="navigation">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" (click)="onSelect('recipe')"></a>
        </li>
        <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>
    </div>
  </div>
</div>
<app-menu></app-menu>
