
<article class="carousel img-responsive">
  <div class="row">
    <div class="col-md-4 ends">
      <app-carousel [interval]="NextPhotoInterval">
        <app-slide *ngFor="let slidez of slides; let index = index;" [active]="slidez.active">
          <img [src]="slidez.image" style="height:500px">
        </app-slide>
      </app-carousel>
    </div>
    <div class="col-md-4">
      <app-carousel [interval]="NextPhotoInterval">
        <app-slide *ngFor="let slidez of slides; let index = index;" [active]="slidez.active">
          <img [src]="slidez.image" style="height:500px">
        </app-slide>
      </app-carousel>
    </div>
    <div class="col-md-4 ends">
      <app-carousel [interval]="NextPhotoInterval">
        <app-slide *ngFor="let slidez of slides; let index = index;" [active]="slidez.active">
          <img [src]="slidez.image" style="height:500px">
        </app-slide>
      </app-carousel>
    </div>
  </div>
</article>
<app-menu></app-menu>
<app-info></app-info>
