app-slide img {
  height: 300px;
  width: 50%;
  margin: 0 auto;
  opacity: .9;
}
.parallax {
    /* The image used */
    background-image: @image(skyNwater.jpg);

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
