
h1#title {
  text-align: center;
  max-height: 3em;
  font-family: "RockSalt", cursive;
}



.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.wrapper{
   width: 60%;
   margin: 60px auto;
 }
